@charset "utf-8";
@import url(./reset.css);

body {
    /* border: 1px solid black; */
    /* height: 300vh; */
}

.wrap {
    overflow: hidden;
    max-width: 768px;
    width: 100%;
    margin: auto;
    font-family: 'Dongle', sans-serif;
}

header {
    border: 1px solid #eee;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 200000;
    max-width: 768px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

nav {
    background-color: white;
    max-width: 768px;
    width: 100%;
    height: 50px;
    padding-top: 27%;
}

nav button {
    background-color: rgb(141, 98, 241);
    font-size: 2rem;
    width: 100%;
    height: 50px;
}

header {
    top: 0;
}

nav {
    bottom: 0;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header div a {
    display: block;
    padding-right: 30px;
    font-size: 2rem;
}

header div button {
    width: 60px;
    height: 50px;
    padding: 1px;
    background-color: white;
    border: 0;


}

header div button span {
    border: 3px solid #FF3D00;
    border-radius: 1rem;
    background-color: #FF3D00;
    display: flex;
    margin: 8px;
    top: 10%;
}

header h1 img {
    width: 80%;
}

.sec1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(./img/Untitled-1.jpg);
    background-size: cover;
}

.sec1 .inner .hs1 {
    text-align: center;
    padding-top: 15%;
    font-size: 3rem;
}

.sec1 .inner .hs1 strong {
    color: #FF3D00;
}

.sec1 .inner .btn_1 {
    position: absolute;
    bottom: 5rem;
    width: 220px;
    height: 80px;
    border-radius: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 25px;
}





.sec2 {
}

.sec2 img {
    width: 100%;
    height: 400px;
}

.sec2 .inner .h2 ul {
    padding-top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec2 .inner .h2 li {
    text-align: center;
    left: 52%;
    transform: translateY(10%);
    font-size: 2rem;
    /* background-color: wheat; */
    color: white;

}

.sec2 .inner .h2 li strong {
    color: #FF3D00;
}

.sec2 .inner .h2 a {
    width: 140px;
    height: 60px;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 60%;
    transform: translate(-100%, -200%);
    font-size: 25px;
}

.sec3 {
    border: 1px solid lightcoral;
}